*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "opens sans" , sans-serif;
    background-color: white;
    color: black;
}

/* colori */

:root {
    --color-black: #000000;
    --color-blue: #0061ff;
    --color-grey: #f5f5f5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
    --color-jumbo: #B4D0E7;
  }

html{
    scroll-behavior: smooth;
}

.debug{
    border: 1px solid black;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0 20px;
}

body ul{
    list-style: none;
    cursor: pointer;
}

header ul li{
    padding-left: 40px;
}

header ul li:nth-child(3){
    padding-right: 15px;
}

img{
    width: 100%;
    display: block;
}

.p-header{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 5px;
}

.button-small{
    background-color: var(--color-blue);
    padding: 8px 16px;
    color: var(--color-white);
}

.button-big{
    background-color: var(--color-blue);
    padding: 12px 20px;
    color: var(--color-white);
}

.buttom-big-white{
    background-color: var(--color-white);
    padding: 12px 20px;
    color: var(--color-dark);
}

#black{
    color: var(--color-dark);
    font-size: 1.3em;
}


/* inizio main */

h1{
    font-size: 5.3em;
    padding: 8px 0px 50px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container-small{
    margin: 0 auto;
    max-width: 1000px;
}

/* dimensioni */

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

#jumbotron{
    padding-top: 100px;
}

#jumbotron .container{
    position: relative;
    top: 70px;
}

p{
    line-height: 20px;
    font-size: 1em;
}

.margin-45{
    margin: 35px 0px;
}

button a{
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}

.font{
    font-size: 3em;
    padding-top: 82px;
}
    
.color-blue{
    color: var(--color-blue);
}

#plans{
    margin-top: 100px;
}

.margin-top{
    margin-top: 50px;
}
.single-customer{
    font-size: 1.5em;
}

/* backgraund */

.bg-light-blue{
    background-color: var(--color-jumbo);
}


/* flex utilities */

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.aling-items{
    align-items: center;
}

.aling-center{
    text-align: center;
}

.justify-content{
    justify-content: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-wrap{
    flex-wrap: wrap;
}


.customers-brand>div{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand{
    width: 50%;
    height: 50%;
}


.padding-row{
    padding: 27px;
}

h2{
    padding: 50px 0px;
}

h3{
    padding: 50px 0px 25px;
    line-height: 1.2em;
    font-size: 1.5em;
}

h4{
    font-size: 1.5em;
}

.drobox-business{
    padding: 150px 0px 20px;
}

#enterprise{
    font-size: 1.5em;
    padding-bottom: 20px;
}

.padding-30{
    padding: 30px 0px;
}
.{
    padding: 100px 0px;
}


.paddin-150{
    padding: 150px 0px;
}



.padding-10{
    padding: 10px 0px;
}

#check{
    font-size: 1.3em;
}

.color-blue{
    color: var(--color-blue+);
}


/* paddin button */

.padding-bottom-5{
    padding-bottom: 5px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.padding-bottom-50{
    padding-bottom: 50px;
}

.padding-bottom-150{
    padding-bottom: 150px;
}

.paddin-right-10{
    padding-right: 10px;
}

.paddin-top-40{
    padding-top: 40px;
}

.col{
    width: calc((100% - 120px) / 3);
}


.row{
    gap: 60px;
}

.font-plan{
    font-size: 1.3em;
}

.busines-features{
    font-size: 2.5em;
}

#faq{
    padding: 170px 0px 50px;
}

summary{
    font-size: 1.1em;
    padding: 50px 0px;
}

.border-top{
    border-top: 1px solid var(--color-black);
}

.border-bottom{
    border-bottom: 1px solid var(--color-black);
}

main details p{
    padding: 15px;
}


/* footer */


footer{
    background-color: black;
    color: white;
}


