*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "opens sans" , sans-serif;
    background-color: white;
    color: black;
}

/* colori */

:root {
    --color-black: #000000;
    --color-blue: #0061ff;
    --color-grey: #b0acac;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
    --color-jumbo: #B4D0E7;
  }

html{
    scroll-behavior: smooth;
}

.debug{
    border: 1px solid var(--color-grey);
    
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}


body ul{
    list-style: none;
}

header nav ul:nth-child(2) li:last-child{
    align-items: center;
}

header ul li{
    margin: 25px;
    cursor: pointer;
}

header ul li:nth-child(3){
    padding-right: 15px;
}

header nav ul li:hover{
    border-bottom: 1px solid var(--color-black);
}

.riga::after{
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background-color: transparent;
    transform: var(--color-black);
    position: absolute;
    bottom: 0;
}

.riga:hover::after{
    background-color: var(--color-black);
}

img{
    width: 100%;
    display: block;
}



.button-small{
    background-color: var(--color-blue);
    padding: 8px 16px;
    color: var(--color-white);
    cursor: pointer;
}


.button-small:hover{
    opacity: 0.8;
}

.button-big{
    background-color: var(--color-blue);
    padding: 12px 20px;
    color: var(--color-white);
    cursor: pointer;
}

.button-big:hover{
    opacity: 0.8;
}

.buttom-big-white{
    background-color: var(--color-white);
    padding: 12px 50px;
    color: 0 0 15px rgba(0, 123, 255, 0.7);
    font-size: 1em;
    cursor: pointer;
}

.buttom-big-white:{
    opacity: 0.8;
}

.bottom-white{
    background-color: var(--color-white);
    padding: 12px 20px;
    color: var(--color-dark);
    cursor: pointer;
}

.bottom-white:hover{
    opacity: 0.8;
}

#black{
    color: var(--color-dark);
    font-size: 1.3em;
}


/* inizio main */

h1{
    font-size: 5.3em;
    padding: 8px 0px 50px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container-small{
    margin: 0 auto;
    max-width: 1000px;
}

/* dimensioni */

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

#jumbotron{
    padding-top: 100px;
}

#jumbotron .container{
    position: relative;
    top: 70px;
}

p{
    line-height: 20px;
    font-size: 1em;
}

.margin-45{
    margin: 35px 0px;
}

.margin-100{
    margin: 100px 0px;
}

button a{
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}

.margin-20{
    margin: 17px 5px;
}

.font{
    font-size: 3em;
    padding-top: 82px;
}
    
.color-blue{
    color: var(--color-blue);
}

#plans{
    margin-top: 100px;
}

.margin-top{
    margin-top: 50px;
}
.single-customer{
    font-size: 1.5em;
}






/* flex utilities */

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.aling-items{
    align-items: center;
}

.aling-center{
    text-align: center;
}

.justify-content{
    justify-content: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-wrap{
    flex-wrap: wrap;
}


.customers-brand>div{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand{
    width: 50%;
    height: 50%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}

.foto-florida{
    width: 60%;
    height: 15%;
    filter: invert(100%);
}

.hr{
    padding: 45px 0px;
}

.designit{
    height: 100px;   
    padding-right: 50%;
}

.of-auto{
    overflow: auto;
}
.no-flex{
    display: flex none
}

/* backgraund */

.bg-light-blue{
    background-color: var(--color-jumbo);
}

.bg-green{
    background-color: var(--color-logo-green);
}

.bg-contrast{
    background-color: var(--color-logo-second);
}

.bg-blue{
    background-color: var(--color-logo-third);
}

.bg-light-red{
    background-color: var(--color-logo-light-red);
}

.bg-red{
    background-color: var(--color-logo-red);
}

.bg-logo-blue{
    background-color: var(--color-logo-blue);
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-grey{
    background-color: var(--color-grey);
}



.padding-row{
    padding: 27px;
}

h2{
    padding: 50px 0px;
}

h3{
    padding: 50px 0px 25px;
    line-height: 1.2em;
    font-size: 1.5em;
}

h4{
    font-size: 1.5em;
}

h6{
    font-size: 2em;
}

.drobox-business{
    padding: 150px 0px 20px;
}

#enterprise{
    font-size: 1.5em;
    padding-bottom: 20px;
}

.padding-30{
    padding: 30px 0px;
}
.{
    padding: 100px 0px;
}

.padding-left-50{
    padding-left: 50px;
}


.paddin-150{
    padding: 150px 0px;
}



.padding-10{
    padding: 10px 0px;
}

#check{
    font-size: 1.3em;
}

.color-blue{
    color: var(--color-blue+);
}

main hr{
    color: var(--color-black);
    width: 20%;
}


/* paddin botton */

.padding-bottom-5{
    padding-bottom: 5px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.padding-bottom-50{
    padding-bottom: 50px;
}

.padding-bottom-150{
    padding-bottom: 150px;
}

.paddin-right-10{
    padding-right: 10px;
}

.paddin-top-40{
    padding-top: 40px;
}

.padding-top-150{
    padding-top: 150px;
}

.col{
    width: calc((100% - 120px) / 3);
}


.row{
    gap: 60px;
}

.font-plan{
    font-size: 1.3em;
}

.busines-features{
    font-size: 2.5em;
}

#faq{
    padding: 170px 0px 50px;
}

summary{
    font-size: 1.1em;
    padding: 50px 0px;
}

.border-top{
    border-top: 1px solid var(--color-black);
}

.border-bottom{
    border-bottom: 1px solid var(--color-black);
}

main details p{
    padding: 15px;
}

.no-stretch{
    height: auto;
}


/* footer */


footer{
    background-color: black;
    color: white;
    height: 590px;
}

.top-footer{
    padding: 100px 0px 100px;
}

h5{
    font-size: 1.7em;
    padding-bottom: 15px;
}

footer ul li{
    padding: 10px 0px;
    cursor: pointer;
}

footer hr{
    width: 10%;
    margin-bottom: 50px;
}

footer div i,span{
    padding-right: 7px;
}

footer i{
    font-size: 1.2em;
}


